:root{
    --chatbox-color: white;
}
.chatbox{
    position:relative;
    background-color:var(--text-theme);
    display: inline-block;
    max-width:80%;
    padding:1em;
    font-size: 1em;
    text-align:start;
    border-radius:10px;
    border-top-left-radius:0;
}

.chatbox::before{
    content: "";
    position:absolute;
    top:0;
    left:-20px;
    width:0;
    height:0;
    border:10px solid var(--text-theme);
    border-left-color: transparent;
    border-bottom-color: transparent;
}