.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:calc(100vh - var(--footer-height) - var(--nav-height));;
}

.login-container form{
    width:100%;
}