.institution-container{
    padding:2%;
    margin:1%;
    border:1px solid silver;
}
.institution-container h2{
    line-height: 1em;
    height: 2em;
    background-color: rgba(245, 245, 245, 0.582);
}

.institution-info-container{
    font-size: 14px;
    display:inline-block;
    text-align: left;
    padding: 2%;
    margin: 1%;
    background-color: rgb(201, 230, 201);
    font-family: Arial, Helvetica, sans-serif;
}
.institution-links-container{
    display: flex;
}
.institution-link{
    width:50%;
}
.institution-link a{
    text-decoration: none;
}

.social-links-container{
    display: flex;
    justify-content: end;
}

.social-links-container .social-link{
    text-align: center;
}

.uni-link-container a{
    text-decoration: none;
}

