header{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    font-size: 1.5em;
    box-shadow: 1px 1px 2px var(--text-theme);
    height:var(--nav-height);
    line-height:var(--nav-height);
    z-index: 10;
    background-color: inherit;
}
header nav{
    position:relative;
}
header ul{
    padding: 0;
    margin:0;
    list-style-type:none;
}

header li{
    padding: 0;
    margin: 0;
}

header a{
    text-decoration: none;
    color:inherit;
}

header .nav-item:hover{
    color:var(--text-theme);
}