.sidebar{
    position:absolute;
    top:102%;
    left:0;
    text-align:left;
    width:100%;
    height: calc(100vh - var(--nav-height));
    overflow-y: scroll;
    overflow-x: hidden;
    transition:0.5s;
    background-color: var(--bg-theme);
}
.sidebar li{
    padding-left: 10%;
}
.hide-sidebar{
    margin-left:-100%;
}

.show-sidebar{
    margin-left:0%;
}
