.sidebar{
    position:absolute;
    top:100%;
    left:0;
    text-align: center;
    width:100%;
    height: calc(100vh - var(--nav-height));
    overflow-y: scroll;
    overflow-x: hidden;
    transition:0.5s;
    border-top: 0;
    background-color: var(--bg-theme);
}
.sidebar li{
    border-bottom: 1px solid white;
}
.hide-sidebar{
    margin-left:-100%;
}

.show-sidebar{
    margin-left:0%;
}
