.topbar{
    color:black;
    display: flex;
    background-color: white;
    text-align:center;
    box-shadow: 1px 1px 2px;
    display: flex;
}
.topbar button{
    background-color: transparent;
    color:inherit;
    width: 100%;
    border:0;
    
}
.topbar li{
    width:50%;
}
.topbar li:nth-child(2){
    width:70%;
}
.topbar .logo{
    color:var(--text-theme);
    font-weight: bold;
}